/* ----------------------------------------------------------
        The custom CSS
-----------------------------------------------------------*/

body.page-home {
}

/* Header */
.header .faixatopoheader {
    background-color: #006699;
    padding-bottom: 14.39px;
    padding-top: 14.39px;
}
.header .faixatopoheader div > .links-top {
    text-align: center;
}
#NavSuperior .fullheader {
    background-image: url( '../img/lulupet-bg-body-2.jpg' ) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: top;
}
.fullheader .container:nth-child(1) {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Header > Search */
.fullheader .buscartopo input {
    color: #333333 !important;
}
.fullheader .buscartopo .search-button {
    background-color: #006699 !important;
}
.fullheader .buscartopo .search-button:hover {
    background-color: #006699 !important;
}

/* Header > Cart */
.fullheader .carrinhotopo,
.fullheader .carrinhotopo .precocarrinho,
.fullheader .carrinhotopo .nomecarrinho {
    color: #ffffff !important;
}
.fullheader .carrinhotopo svg {
    fill: #ffffff !important;
}

/* Header > Menu */
.fullheader .faixatopomenu ul.menutopohorizontal li a {
    color: #ffffff !important;
}
.fullheader .faixatopomenu ul.menutopohorizontal li:hover {
    background-color: #990033;
}
.fullheader .faixatopomenu ul.menutopohorizontal li.menutc {
    background-color: transparent;
}
.fullheader .faixatopomenu ul.menutopohorizontal li .menu-children2.container ul li {

}
.fullheader .faixatopomenu ul.menutopohorizontal li .menu-children2.container ul li:hover {
    background-color: transparent;
}
.fullheader .faixatopomenu ul.menutopohorizontal li .menu-children2.container ul li a {
    color: #333333 !important;
}

/* Header > Menu Scroll */
.fullheader #barratopofix {
    background-color: #FF0066;   
}
.fullheader #barratopofix .container {
    padding-bottom: 0;
    padding-top: 0;
}

/* Newsletter */
.barranews {
    background-color: #FF0066;
    color: #ffffff;
}
.barranews svg,
.barranews svg+div>h2 {
    color: #ffffff !important;
    fill: #ffffff;
}
.barranews form button.btn {
    background-color: #990033;
    border: 0;
    color: #ffffff;
}

/* Internal Page */

/* Filter */
.wrapper-filter .catalogo-form-filtros .filtros .select {
    width: 145px;
}
.vspace-sm .catalogo-display {
    border: 0;
    color: #999999;
    padding-left: 0;
}

/* Each Product */
.product .pet-toasty svg {
    fill: #00b3fe;
}
#product-container #preco #produto_preco .PrecoPrincipal,
#product-container #preco #produto_preco .PrecoPrincipal .currency,
#product-container #preco #produto_preco #variacaoPreco {
    color: #00b3fe !important;
}
#product-container #preco #produto_preco #info_preco {
    color: #999999 !important;
}
.page-product .botao-commerce {
    background-color: #f06 !important;
    border-radius: 4px;
}
.page-product .botao-commerce span {
    font-size: 18px;
    font-weight: 400;
}

/* Breadcrumb */
#product-container .breadcrumb {
    padding-left: 0;
}
#product-container .breadcrumb,
#product-container .breadcrumb span,
#product-container .breadcrumb a {
    color: #999999;
}

/* Footer */
footer.footer .menuacessos {
    background-image: url( '../img/lulupet-bg-body-2.jpg' ) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: top;
}
footer.footer .menuacessos .container {
    border-bottom: 0 !important;
}
footer.footer .menuacessos .footer-title,
footer.footer .menuacessos .footer-title+ul li>a,
footer.footer .menuacessos .contato-footer p {
    color: #ffffff !important;
}
footer.footer .menuacessos .footer-title+ul li>a:hover {
    color: #dddddd !important;
}
footer.footer .menuacessos .contato-footer svg {
    color: #ffffff !important;
    fill: #ffffff;
}
footer.footer .menuacessos .foo-payment-forms img.img-payment {
    background-color: #ffffff;
    padding: 0px 10px 7px;
    border-radius: 5px;
}
footer.footer .fullcreditos .row.rodape-credito {
    background-color: #006699;
}

/*  */

/* ----------------------------------------------------------
        End - The custom CSS
-----------------------------------------------------------*/